@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  resize: none !important;
}
body {
  width: 100vw;
  height: 100vh;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
.gk-primary-h1 {
  @apply text-2xl font-extrabold mb-6 text-center;
}
.gk-primary-next-a {
  @apply w-full bg-orange-300 text-white h-8 mb-10;
}
.gk-primary-create-section {
  @apply flex w-4/5 flex-col	items-center justify-between	h-4/5;
}
.gk-primary-login-button {
  @apply w-full bg-orange-300 text-white h-11 font-bold text-lg rounded-md;
}
.gk-primary-login-button:disabled {
  background-color: rgb(190, 190, 190); /* 흐린 색상의 배경 적용 */
}
@font-face {
  font-family: "MoiraiOne";
  src: url("../../public/assets/font/MoiraiOne-Regular.ttf");
}
