@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  resize: none !important;
}
body {
  width: 100vw;
  height: 100vh;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
/* 달력 */
.rdp {
  --rdp-cell-size: 37px !important; /* Size of the day cells. */
  --rdp-caption-font-size: 16px !important; /* Font size for the caption labels. */
  --rdp-accent-color: rgb(
    251 146 60
  ) !important; /* Accent color for the background of selected days. */
  --rdp-background-color: rgb(
    255 237 213
  ) !important; /* Background color for the hovered/focused elements. */
  --rdp-accent-color-dark: #ff8c00; /* Accent color for the background of selected days (to use in dark-mode). */
  --rdp-background-color-dark: #180270; /* Background color for the hovered/focused elements (to use in dark-mode). */
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
  --rdp-selected-color: #fff; /* Color of selected day text */
}
.rdp-nav_icon {
  width: 14px !important;
  height: 14px !important;
}
.rdp-day {
  font-size: 13px !important;
}
.gk-primary-h1 {
  @apply text-2xl font-extrabold mb-6 text-center;
}
.gk-primary-next-a {
  @apply w-full bg-orange-300 text-white h-8 mb-10;
}
.gk-primary-create-section {
  @apply flex w-4/5 flex-col	items-center justify-between	h-4/5;
}
.gk-primary-login-button {
  @apply w-full bg-orange-300 text-white h-11 font-bold text-lg rounded-md;
}
.gk-primary-login-button:disabled {
  background-color: rgb(190, 190, 190); /* 흐린 색상의 배경 적용 */
}
@font-face {
  font-family: 'MoiraiOne';
  src: url('../../public/assets/font/MoiraiOne-Regular.ttf');
}
