# HELP.md
# .gradle
# build/
# !gradle/wrapper/gradle-wrapper.jar
# !**/src/main/**/build/
# !**/src/test/**/build/

# ### STS ###
# .apt_generated
# .classpath
# .factorypath
# .project
# .settings
# .springBeans
# .sts4-cache
# bin/
# !**/src/main/**/bin/
# !**/src/test/**/bin/

# ### IntelliJ IDEA ###
# .idea
# *.iws
# *.iml
# *.ipr
# out/
# !**/src/main/**/out/
# !**/src/test/**/out/

# ### NetBeans ###
# /nbproject/private/
# /nbbuild/
# /dist/
# /nbdist/
# /.nb-gradle/

# ### VS Code ###
# .vscode/

.gradle/
.vscode/
build/
gradle/
gradlew
bradlew.bat
HELP.md
settings.gradle
application.properties
Dockerfile
flyway.user.toml
report.html
report.json
#*.sql
*.json
*.properties
*.yaml
*.yml
V1.1__post_content_update.sql
V1.2__comment_like_update.sql
V1.3__insertdata.sql
V1.4__updatedata.sql
V1.5__comment_content_constraint_remove.sql
V1.6__post_community_change.sql
V1.7__create_post.sql
V1.8__community_delete.sql
V1.9__post_insert_content_update.sql
V1.10__content_goal_id_update.sql

